@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-light: #f8fafc;
  --color-primary: #1e2d4f;
  --color-accent: #2a9d8f;
  --color-muted: #6c757d;
  --color-slate: #e2e8f0;
  --color-error: #e76f51;
  --color-success: #4caf50;
  --color-cream: #f8f6f3;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #f8f6f3;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  @apply text-3xl font-semibold;
}

p {
  @apply text-xl;
}

h2 {
  @apply lg:text-4xl text-3xl;
}

h3 {
  @apply text-2xl;
}

.active-sidebar-item {
  @apply !font-bold text-white !bg-accent;
}

.page-name {
  @apply text-right lg:text-8xl !text-5xl mt-10;
}

@layer components {
  #about-us li {
    @apply lg:indent-10 indent-4 mb-4 text-xl;
  }
}

.plaid-btn {
  @apply disabled:bg-slate-500 disabled:cursor-not-allowed h-10 bg-black text-white rounded-md font-semibold my-5 focus:ring-4 focus:ring-neutral-300 flex flex-row items-center justify-center dark:ring-white dark:ring-1;
}

.billow-btn-long {
  @apply mt-3 w-full focus:!ring-0;
}

.payment-btn {
  @apply bg-primary hover:bg-accent transition-colors dark:bg-accent dark:hover:bg-slate dark:hover:text-accent disabled:bg-muted;
}

.payment-processing-btn {
  @apply bg-white hover:bg-white border border-accent text-accent dark:bg-white dark:hover:bg-white dark:hover:text-accent cursor-not-allowed;
}

.billow-container {
  @apply container mx-auto lg:px-10 px-5;
}

.about-sub-header {
  @apply font-semibold mt-8 mb-4;
}
